.Item-select-bg {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 30;

    background-color: rgba(0,0,0,.8);
}

.Item-select-container {
    height: 300px;
    width: 600px;

    display: grid;
    grid-template-columns: 50% 50%;

    background-color: white;
    border-radius: 20px;

    box-sizing: border-box;
    padding: 40px;
}

.Item-select-img {
    height: 100%;
    width: 80%;

    background-color: #c5f3e4;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
}

.Item-select-info {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 75% 25%;
}

.Add-button {
    width: 100%;

    position: relative;

    background-color: #73F497;
    border-radius: 10px;
    border: none;
    outline: none;

    font-size: 16px;
    cursor: pointer;
}

.Add-button:hover { opacity: 0.7; }

.Name-item-select {
    font-size: 20px;
    color: #706E6E;
    padding-bottom: 8px;
}

.Price-item-select {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 8px;
}

.Close-item-select {
    height: 15px;
    width: 15px;

    background-color: rgba(255, 255, 255, 0);
    float: right;
    border: none;
    outline: none;
    cursor: pointer;

    background-image: url("/src/icons/cancel.png");
    background-size: contain;
}

.Close-item-select-mobile {
    height: 15px;
    width: 15px;

    background-color: rgba(255, 255, 255, 0);
    float: right;
    border: none;
    outline: none;
    cursor: pointer;

    background-image: url("/src/icons/cancel.png");
    background-size: contain;

    margin-top: 10px;
    margin-right: 10px;

    display: none;
}

.Amount-item-select {
    width: 50px;
    margin-top: 5px;
    margin-left: 1px;
}

@media (max-width: 750px) {
    .Item-select-container {
        height: 500px;
        width: 90%;
        max-width: 400px;
    
        grid-template-columns: 1fr;
        grid-template-rows: 60% 1fr;

        row-gap: 20px;
    
        box-sizing: border-box;
        padding: 15px;
    }

    .Item-select-img {
        height: 100%;
        width: 100%;
    
        border-radius: 20px;
    }

    .Close-item-select-mobile { display: inline; }
    .Close-item-select { display: none; }
}