.Container-products {
    display: grid;
    grid-template-rows: 10% 90%;
    position: relative;

    width: 95%;
    height: 95%;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px #595959;
    border-radius: 20px;

    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    overflow-y: hidden;
    z-index: 1;
}

.Background-products {
    position: absolute;
    top: 0px;
    
    height: 120px;
    width: 100%;

    background-color: #73F497;
    border-radius: 20px 20px 0px 0px;
}

.Title-products {
    height: 40px;
    position: relative;
    z-index: 10;
    top: 15px;

    font-size: 36px;
    font-weight: 600;
}

.Open-shopping-cart-products {
    height: 38px;
    width: 30px;

    float: right;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0);
    background-image: url("/src/icons/shopping-cart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: none;
}

.Container-items-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    justify-items: center;
    
    column-gap: 15px;
    row-gap: 10px;
    
    position: relative;
    z-index: 10;
    top: 0px;
    
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;
}

.Container-items-products::-webkit-scrollbar {
    display: none;
}

/* ITEM */

.Item-products {
    display: flex;

    position: relative;
    flex-direction: column;

    width: 145px
}

.Container-image-item-products {
    width: 145px;
    height: 145px;
    background-color: #c5f3e4;
    border-radius: 20px;
    margin-bottom: 5px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.Name-item-products {
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #9b9b9b;
}

.Price-item-products {
    font-weight: bolder;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 750px) {
    .Container-products {
        grid-template-columns: 1fr;

        border-radius: 0px;

		height: 100%;
		width: 100%;
    }

    .Background-products { border-radius: 0px; }

    .Open-shopping-cart-products { display: inline; }
}