.App {
	display: flex;
	align-items: center;	
	justify-content: center;

	height: 100vh;
	width: 1fr;
}

.Board {
	display: grid;
	grid-template-columns: 1fr 385px;

	align-items: center;
	justify-items: center;

	height: 700px;
	width: 1100px;
}

@media (max-width: 750px) {
    .Board {
        grid-template-columns: 1fr;

		height: 100%;
		width: 100%;
    }
}